*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

/* .navbar-container{
    display: flex;
}

.navbar-container li{
    list-style: none;
}

.navbar-container li a{
    text-decoration: none;
} */

.container{
    border: 0.3rem solid black;
    display: flex;
    /* Vertical */
    align-items: center;
    /* Horizontal */
    justify-content: flex-end;
    /* This flex-wrap is used to mantain the size of the boxes when reducing the size of the browser window */
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    /* height: 50vh; */
}

.box{
    height: 10rem;
    /* These are applied to children elements */
    flex-basis: 10rem;
    flex-grow: 1;
}

.box1{
    background-color: blue;
}
.box2{
    background-color: blueviolet;
}
.box3{
    background-color: burlywood;
}
.box4{
    background-color: cadetblue;
}
.box5{
    background-color: coral;
}
.box6{
    background-color: salmon;
}